@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
  color: #2c2c2c;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Toolbar Styles */
.toolbar-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  display: flex;
  gap: 8px;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.toolbar-item {
  position: relative; /* Para posicionar menús desplegables */
  display: flex;
  align-items: center;
  gap: 4px;
}

.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.toolbar-button:hover {
  background-color: #2563eb;
}

.toolbar-input {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

/* Toolbar Menu */
.toolbar-menu {
  position: absolute;
  top: 140%; /* Desplazamiento relativo al botón */
  left: 0;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  min-width: 150px;
  transform: translateY(4px); /* Separación visual */
}

.toolbar-menu h4 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.toolbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar-menu-item {
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: left;
  font-size: small;
}

.toolbar-menu-item:hover {
  background-color: #f0f0f0; /* Fondo más claro al pasar el ratón */
}

.types-menu-item label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.types-menu-item input[type='checkbox'] {
  cursor: pointer;
  accent-color: #3b82f6;
}

/* Diagram List */
.diagram-list {
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.diagram-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.diagram-list-item button {
  margin-left: 8px;
}

input[type='checkbox'] {
  accent-color: #3b82f6;
}

/* Tooltip Styles */
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 100;
}

.tooltip.show {
  opacity: 1;
}

/* React Flow Nodes */
.react-flow__node-tooltipNode {
  font-size: 12px;
  background: #eee;
  outline: 1px solid #5c5c5c;
  border-radius: 5px;
  text-align: center;
  padding: 8px 12px;
}

.react-flow__node-tooltipNode.selectable.selected {
  font-weight: 600;
  outline: 1.5px solid #5c5c5c;
}

.react-flow__node-tooltipNode:hover {
  outline: 1.5px solid #5c5c5c;
}

.react-flow__node-annotationNode {
  background-color: #fff; /* Fondo blanco para contraste */
  border: 1px dashed #ccc; /* Borde visible por defecto */
  padding: 8px;
  font-size: 14px;
  display: block; /* Cambiado de inline a block */
  min-width: 100px; /* Asegura un tamaño adecuado */
  min-height: 24px; /* Espacio mínimo para texto */
  cursor: pointer; /* Indica que se puede interactuar */
  word-wrap: break-word; /* Permite dividir líneas largas */
}

.react-flow__node-annotationNode:focus {
  outline: 1px solid #0078d4; /* Borde azul al enfocar */
}

.react-flow__node-annotationNode.selectable.selected {
  outline: 1px dashed #646464; /* Borde visible al seleccionar */
}